<!-- <div class="login center-block">
   <h1>Login</h1>
   <form role="form" (submit)="login($event, username.value, password.value)">
   <div class="form-group">
     <label for="username">Username</label>
     <input type="text" #username class="form-control" id="username" placeholder="Username">
   </div>
   <div class="form-group">
     <label for="password">Password</label>
     <input type="password" #password class="form-control" id="password" placeholder="Password">
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
     <a [routerLink]="['/registration']" class="btn btn-primary">Click here to Register</a> 
 </form>
 </div> -->


<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Email Address">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="row">
                <div class="col-6">
                  <a [routerLink]="['/invoice']"  class="btn btn-primary px-4">Login</a>
                </div>
                <div class="col-6 text-right">
                  <a [routerLink]="['/password']" class="btn btn-link px-0">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body">
                  <div>
                    <h1>Register</h1>
                    <p>Please enter your email address, to start the registration process</p>
                    <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" placeholder="Email Address" type="email" email>
                  </div>
    <a [routerLink]="['/registration']" class="btn btn-primary">Register Now!</a>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>