<div class="wrapper">
    <div class="page-header">    
        <div class="container">
            <div class="row">
        <div class="col-lg-6 col-sm-8 mr-auto ml-auto">
			<p>You've successfully logged out from EasyPay, but you are still logged into other applications and may automatically sign you in when you visit EasyPay again.</p>
			<p><a [routerLink]="['']" class="btn btn-round">Log Back In</a></p>
			<p>Click <a href="#" (click)="singleSignOut()">here</a> to log out from all applications, and close your browser.</p>
		</div>
	</div>
</div>
</div>
</div>