<div class="wrapper">
  <div class="page-header" style="background: #fff;">    
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mr-auto ml-auto">
        <h2>Registration</h2>
                <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" name="signupForm">
                  <div class="form-group">
                    <input type="email" email id="username" formControlName="email" name="email" class="form-control form-control-lg" placeholder="Enter Your Email Address" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                   <span *ngIf="form.get('email').dirty || formSubmitclicked">
                    <small class="error" *ngIf="form.get('email').hasError('isEmailUnique')">This email has been registered already</small>
                    <small class="error" *ngIf="form.get('email').hasError('required')">The Email field is required.</small>
                    <small class="error" *ngIf="form.get('email').hasError('pattern')">The Email field must contain a valid email address.</small>
                  </span>
                  </div>
                  <div class="form-group text-right m-t-20">
                  <div class="col-xs-12">
                      <button class="btn btn-primary" type="submit">Submit<!--[routerLink]="['/invoice']"-->
                      </button>
                  </div>
              </div>
                  
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
