<footer class="footer footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-6 ml-auto mr-auto">
                <img src="../assets/fnf_logo_trans.fw.png" title="EasyPay - Fidelity National Finance">
            </div>
            <div class="col-md-9 ml-auto mr-auto col-sm-9 col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    <div class="pull-left">
                        &copy; <script>document.write(new Date().getFullYear())</script>2017 FNF
                    </div>
                    <div class="links pull-right">
                        <ul>
                            <li><a href="#">Terms &#38; Conditions</a></li> | <li><a href="#">Privacy</a><li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>