<footer class="footer footer-big footer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto col-sm-9 col-12">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                                <li><a href="#">Footer Links</a></li>
                            </ul>
                        </div>
                    </div>    
                </div>
                <hr>
                <div class="copyright">
                    <div class="pull-left">&copy; <script>document.write(new Date().getFullYear())</script> FNF</div>
                    <div class="links pull-right">
                        <ul>
                            <li><a href="#">Terms & Conditions</a> </li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>