<div class="cat__footer">

        
            <div class="container text-center">
                

    <div class="cat__footer__top">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="mb-3">
                    <strong></strong>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled mb-3">
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled mb-3">
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                            <li class="mb-2"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="mb-3">
                    <strong></strong>
                </div>
                <div class="cat__footer__description">
                    <p></p>

                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cat__footer__bottom">
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <div class="cat__footer__company">
                    <img class="cat__footer__company-logo" src="" target="_blank" title="">
                    <span>
                        @copy; 2017 <a href="http://fnf.com/" target="_blank">FNF</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="icmn-arrow-up"></i></a>
</div></div>