<!--<div class="navbar-custom"> *ngIf="auth.isAuthenticated()"
  <div class="container-fluid">
      <div id="navigation">
          <ul class="navigation-menu">
              <li><a routerLink='home' title="Home"Home</a></li>
              <li><a routerLink='profile' title="Profile">Profile</a></li>
              <li><a routerLink='login' title="Login">Login</a></li>
              <li><a routerLink='register' title="Registration">Registration</a></li>
              <li><a routerLink='password' title="Password">Password</a></li>
              <li><a routerLink='logout' title="Logout">Logout</a></li>
          </ul>
      </div>
  </div>
</div>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed pull-right" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EasyPay</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="['/home']" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="['/home']" routerLinkActive="active">Page 1</a></li>
        <li><a [routerLink]="['/home']" routerLinkActive="active">Page 2</a></li>
        <li><a [routerLink]="['/home']" routerLinkActive="active">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/register']" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a [routerLink]="['/login']" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


